In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [2]:
!ls

Untitled.ipynb
data

In [3]:
!ls data

sample_submission.csv
test.csv
train.csv

In [4]:
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

- PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.
- HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.
- CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- Destination - The planet the passenger will be debarking to.
- Age - The age of the passenger.
- VIP - Whether the passenger has paid for special VIP service during the voyage.
- RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- Name - The first and last names of the passenger.
- Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

In [5]:
df.isna().sum()

PassengerId       0
HomePlanet      157
CryoSleep       170
Cabin           153
Destination     150
Age             139
VIP             146
RoomService     142
FoodCourt       140
ShoppingMall    160
Spa             142
VRDeck          128
Name            155
Transported       0
dtype: int64

In [21]:
df_ = df.drop(columns=['RoomService', 'Age', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Cabin'])

In [22]:
df_.head(3)

,PassengerId,HomePlanet,CryoSleep,Destination,VIP,Name,Transported
0,0001_01,Europa,False,TRAPPIST-1e,False,Maham Ofracculy,False
1,0002_01,Earth,False,TRAPPIST-1e,False,Juanna Vines,True
2,0003_01,Europa,False,TRAPPIST-1e,True,Altark Susent,False

In [23]:
df_.isna().sum()

PassengerId      0
HomePlanet     157
CryoSleep      170
Destination    150
VIP            146
Name           155
Transported      0
dtype: int64

In [10]:
df_['Destination'].unique()
df_['Name'].fillna('Unknown')

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [30]:

df_ = df_.fillna('Unknown')

In [33]:
df_.isna().sum()

PassengerId    0
HomePlanet     0
CryoSleep      0
Destination    0
VIP            0
Name           0
Transported    0
dtype: int64

In [34]:
df_['Transported'].value_counts(normalize=True)

True     0.510683
False    0.489317
Name: Transported, dtype: float64

In [35]:
model_less_preds = ['0'] * len(df_)

In [36]:
accuracy_score(df_['Transported'], model_less_preds)

C:\Users\FFF\anaconda3\envs\learn-env\lib\site-packages\sklearn\metrics\_classification.py:193: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  score = y_true == y_pred

0.0

In [38]:
X = df_.drop(columns=['Transported'])
y = df_['Transported']

In [39]:
X.head(2)

  PassengerId HomePlanet CryoSleep  Destination    VIP             Name
0     0001_01     Europa     False  TRAPPIST-1e  False  Maham Ofracculy
1     0002_01      Earth     False  TRAPPIST-1e  False     Juanna Vines

In [40]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42)

In [ ]:
# Scale the data for modeling
scaler = StandardScaler()
scaler.fit(X_train)

X_train_sc = scaler.transform(X_train)
X_test_sc = scaler.transform(X_test)

# Train a logistic regresssion model with the train data
cred_model = LogisticRegression(random_state=42)
cred_model.fit(X_train_sc, y_train)

In [41]:
df_["HomePlanet"].value_counts()

Earth      3519
Europa     1669
Mars       1348
Unknown     157
Name: HomePlanet, dtype: int64

In [ ]:
preprocessor.fit(X_train)
X_train_pr = preprocessor.transform(X_train)
X_test_pr = preprocessor.transform(X_test)